<div id="<%= dom_id friend %>">
  <tr>
    <td>
      <%= link_to friend.first_name + " " + friend.last_name, friend%>
    </td>

    <td>
      <%= friend.email %>
    </td>

    <td>
      <%= friend.phone %>
    </td>

    <td>
      <%= friend.instagram %>
    </td>
    <% if friend.user == current_user%>
      <td>
          <%= link_to "Edit", edit_friend_path(friend), class:"btn btn-primary", style:"display:flex; justify-content: center;" %>
      </td>
    <% end %>
    <% if friend.user == current_user%>
      <td>
          <%= button_to "Delete", friend, method: :delete , class:"btn btn-danger" , style: "width: 100%" %>
      </td>
    <% end %>
  </tr>
</div>
